@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


:root{
    --pri-color:#1EBABA;
    --light-color:#fff;
    --blue--color:#1DAFDD;
    --black-color:#000;
    --box-shadow:0px 25px 50px rgba(97, 217, 255, 0.1);
    --gray: #949494;
    
}
/* base */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
     font-family: "Roboto", sans-serif;
     overflow-x: hidden;

}

a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
a:hover{
    color:#fff;
    text-decoration: none;

}
.contain{
    width: 750px;
    margin: auto;
    box-shadow: 0px 25px 50px rgba(97, 217, 255, 0.1);;
    
}

.Name{
    margin: 0!important;
    background-color: rgb(0, 21, 43);
    /* text-align: center; */
     color: #fff;
    
    padding: 40px 20px;
}
.Name h1{
    font-size: 50px;
    letter-spacing: .2rem;
}
.details{
    padding: 40px 20px;
}

.details p{
    font-size: 15px;
}
.Name  h3{
    color: #f5f5f5;
    font-size: 25px;
    margin-bottom: 30px;
}

.Name span{
    color: #e9e9e9;
    font-size: 15px;

}

.Name  p{
    font-size: 20px;
}
.skillsbox{
    padding: 20px 20px;

}

.skillsbox h1{
    font-weight: bold;
}
.skills ul li{
    font-size: 15px;
    line-height: 30px;
}

.work-history{
    padding: 20px 20px;

}

.work-history h1{
    font-weight: bold;

}
.work-history .skills{
    text-align: start;
    width: 100%;
   
}

.skills h3{
    font-size: 20px;
    font-weight: bold;
}

.work-history .skills p{
    font-size: 15px;
    font-style: italic;
}
.skills h6{
    font-size: 20px;
}

/* ====MEDIA QUERY */
@media (max-width: 450px) {
    .contain{
        width: 100%;
    }
    .work-history{
        /* padding-right: 50px!important; */
    }
  
}